

/* navbar js */

  #searchbox{
    width: 47%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 8px; 
    background-repeat: no-repeat;
    padding: 17px 20px 17px 20px;
    outline: none;
    
    margin-left: 2%;

  }

  #searchbox:hover {
    border: 1px solid black;
  }
  #searchbox:focus {
    border:2px solid rgb(41, 41, 196);
    /* box-shadow: 0 0 10px #719ECE; */
  }
  
  #search-btn{
    width: 3.45rem;
    height: 3.45rem;
    border: 2px solid #000000;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 10px;
    background-position: 3px 3px;
    border-radius: 4px;
    background-color: #002f34;
    background-repeat: no-repeat;
    margin-right: 30px;
    /* background: none; */
  }

  .border {
    /* width: 7%; */
    padding: 8px 18px;
    border-radius: 40px;
    color: #002f34;
    font-weight: bolder;
    font-size: 14px;
    border-width: 5px;
    border-style: solid;
    border-color: #48ebe8 yellow orange;
    position: relative;
    text-decoration: none;
    background-color: white;
    font-family: cursive;
    cursor: pointer;
  }


  /* splitnavbar */
#link{
    font-size: 15px !important;
    color: #002f34 !important;
    margin-right: 20px !important;
    text-decoration: none !important;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    font-weight: bold;
    border-bottom: 2px solid black
  }

  #link:hover{
      border-bottom: none;
      transition-timing-function: ease-in;
  }
  
  #link:hover{
    color:  lightblue;
    cursor: pointer;
  }


  
#megaMenu{
  font-size: 15px;
  border: none;
  background-color: white;
  margin-left: 2%;
  margin-right: 3%;
  /* background-image: url('./images/drop.png') ;
  background-repeat: no-repeat;
  background-position: right; */
  padding-right: 30px;
  display: block;

}
input[type="button"]{
  outline:none;
}
input[type="button"]::-moz-focus-inner {
  border: 0;
}


#Li{
  font-size: 15px !important;
  color: #002f34 !important;
  margin-right: 20px !important;
  text-decoration: none !important;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}


#Li:hover{

  cursor: pointer;
  background-color: ghostwhite;
}

  
  
  